body {
    background-color: black;
}

.row {
    height: 200%;
    padding: 1%;
}

.container {
    font-size: 50px;
    border: 1px solid white;
    border-radius: 5px;
}

.col {
    height: 100px;
    width: 100px;
    border-radius: 5px;
    margin: 5px;
    background-color: rgba(128, 128, 128, 0.39);
    border: 1px solid whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
}